body{
    background-color: #ADD8E6
}
.quoteContainer{
    position: absolute;
    top: 40%;
    left: 37%;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    height: 300px;
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: black;    
}
.emoji{
    /* position: absolute; */
    top: 0;
    left: 0;
    margin: 10px;
    font-size: 40px;
    text-align: center;
}
.quoteBox{
    /* position: absolute; */
    top: 0;
    left: 0;
    margin: 10px;    
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}